<body class="animsition">
  <!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-none d-lg-block">
      <div class="menu-sidebar__content js-scrollbar1">
          <nav class="navbar-sidebar">
              <ul class="list-unstyled navbar__list">
                  <li>
                     <a href ="/admin/index">
                         <i class="fas fa-desktop"></i>관리자 메인 화면</a>
                  </li>
                  <li>
                      <a href="/admin/shop">
                          <i class="fas fa-chart-bar"></i>상품 관리</a>
                  </li>
                  <li class="active">
                      <a href="/admin/table">
                          <i class="fas fa-table"></i>공지 이벤트</a>
                  </li>
                  <li class="has-sub">
                    <a class="js-arrow" href="#">
                      <i class="fas fa-tachometer-alt"></i>상품 판매 정보 관리
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                      <li>
                        <a href="/admin/order_list">
                          <i class="fas fa-tachometer-alt"></i>주문 내역 확인</a>
                      </li>
                      <li>
                        <a href="/admin/sales_statistics">
                          <i class="fas fa-tachometer-alt"></i>판매 정보 통계</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                      <a href="/users/logout">
                          <i class="zmdi zmdi-power"></i>로그아웃</a>
                  </li>

                      </ul>
      </div>
  </aside>
  <!-- END MENU SIDEBAR-->
    <div class="page-wrapper">
      <!-- HEADER MOBILE-->
      <header class="header-mobile d-block d-lg-none">
          <div class="header-mobile__bar">
              <div class="container-fluid">
                  <div class="header-mobile-inner">
                      <a class="logo" href="/admin/index">
                      </a>
                      <button class="hamburger hamburger--slider" type="button">
                          <span class="hamburger-box">
                              <span class="hamburger-inner"></span>
                          </span>
                      </button>
                  </div>
              </div>
          </div>
          <nav class="navbar-mobile">
              <div class="container-fluid">
                  <ul class="navbar-mobile__list list-unstyled">
                      <li>
                        <a href="/admin/index">
                            <i class="fas fa-desktop"></i>관리자 메인 화면</a>
                      </li>
                      <li>
                          <a href="/admin/shop">
                              <i class="fas fa-chart-bar"></i>상품 관리</a>
                      </li>
                      <li>
                          <a href="/admin/table">
                              <i class="fas fa-table"></i>공지 이벤트</a>
                      </li>
                      <li class="has-sub">
                          <a class="js-arrow" href="#">
                              <i class="fas fa-tachometer-alt"></i>상품 판매 정보 관리</a>
                          <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                              <li>
                                  <a href="/admin/order_list">주문 내역 확인</a>
                              </li>
                              <li>
                                  <a href="/admin/sales_statistics">판매 정보 통계</a>
                              </li>
                          </ul>
                      </li>
                      <li>
                          <a href="/users/logout">
                              <i class="zmdi zmdi-power"></i>로그아웃</a>
                      </li>
                  </ul>
              </div>
          </nav>
      </header>
      <!-- END HEADER MOBILE-->



        <!--PAGE CONTAINER-->
        <div class="page-container">

            <!-- MAIN CONTENT-->
             <div class="main-content">
                             <div class="col-lg-6">
                                 <div class="card">
                                     <div class="card-header">
                                         <strong>공지/이벤트</strong> 수정
                                     </div>
                                     <div class="card-body card-block">
                                         <form action="/posts/<%= post._id%>?_method=put" method="post" class="form-horizontal">
                                             <div class="row form-group">
                                                 <div class="col col-md-3">
                                                     <label for="title" class=" form-control-label">제목</label>
                                                 </div>
                                                 <div class="col-12 col-md-9">
                                                     <input type="text" id="title" name="title" value="<%= post.title %>" class="form-control">
                                                     <small class="form-text text-muted">공지/이벤트 제목</small>
                                                 </div>
                                             </div>
                                             <div class="row form-group">
                                                 <div class="col col-md-3">
                                                     <label for="start" class=" form-control-label">시작 날</label>
                                                 </div>
                                                 <div class="col-12 col-md-9">
                                                     <input type="date" id="start" name="start" class="form-control">
                                                     <small class="form-text text-muted">공지/이벤트 기간</small>
                                                 </div>
                                             </div>
                                             <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="end" class=" form-control-label">끝나는 날</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="date" id="end" name="end" class="form-control">
                                                    <small class="form-text text-muted">공지/이벤트 기간</small>
                                                </div>
                                            </div>
                                             <div class="row form-group">
                                                 <div class="col col-md-3">
                                                     <label for="body" class=" form-control-label">내용</label>
                                                 </div>
                                                 <div class="col-12 col-md-9">
                                                     <textarea name="body" id="body" rows="9" value="<%= post.body %>" class="form-control"></textarea>
                                                 </div>
                                             </div>
                                             <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="file" class=" form-control-label">공지 이미지 등록</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="file" id="file" name="attachment" class="form-control-file">
                                                </div>
                                            </div>
                                             <div class="card-footer">
                                                <button type="submit" class="btn btn-primary btn-sm">
                                                    <i class="fa fa-dot-circle-o"></i> Submit
                                                </button>
                                                <button type="button" class="btn btn-danger btn-sm" onclick="location.href='/admin/table'">
                                                    <i class="fa fa-ban"></i> Reset
                                                </button>
                                            </div>
                                         </form>
                                     </div>
                                 </div>
                     </div>
                 </div>
             </div>
         </div>

 </body>
