<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>관리자 - 공지 이벤트</title>

    <!-- Fontfaces CSS-->
    <link href="/css/font-face.css" rel="stylesheet" media="all">
    <link href="/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom.css">

    <!-- Vendor CSS-->
    <link href="/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/css/theme.css" rel="stylesheet" media="all">

     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <!-- <title>Freshshop - Ecommerce Bootstrap 4 HTML Template</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content=""> -->

    <!-- Site Icons -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">


</head>

<body class="animsition">
    <div class="page-wrapper">
      <!-- HEADER MOBILE-->
      <header class="header-mobile d-block d-lg-none">
          <div class="header-mobile__bar">
              <div class="container-fluid">
                  <div class="header-mobile-inner">
                      <a class="logo" href="/index">
                          <img src="/images/logo.png" alt="AmoAmo" />
                      </a>
                      <button class="hamburger hamburger--slider" type="button">
                          <span class="hamburger-box">
                              <span class="hamburger-inner"></span>
                          </span>
                      </button>
                  </div>
              </div>
          </div>
          <nav class="navbar-mobile">
              <div class="container-fluid">
                  <ul class="navbar-mobile__list list-unstyled">
                      <li>
                        <a href="/admin/">
                            <i class="fas fa-desktop"></i>관리자 메인 화면</a>
                      </li>
                      <li>
                          <a href="/admin/shop">
                              <i class="fas fa-chart-bar"></i>상품 관리</a>
                      </li>
                      <li>
                          <a href="/admin/table">
                              <i class="fas fa-table"></i>공지 이벤트</a>
                      </li>
                      <li class="has-sub">
                          <a class="js-arrow" href="#">
                              <i class="fas fa-tachometer-alt"></i>상품 판매 정보 관리</a>
                          <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                              <li>
                                  <a href="/admin/order_list">주문 내역 확인</a>
                              </li>
                              <li>
                                  <a href="/admin/sales_statistics">판매 정보 통계</a>
                              </li>
                          </ul>
                      </li>
                      <li>
                          <a href="/">
                              <i class="zmdi zmdi-power"></i>로그아웃</a>
                      </li>
                  </ul>
              </div>
          </nav>
      </header>
      <!-- END HEADER MOBILE-->

      <!-- MENU SIDEBAR-->
      <aside class="menu-sidebar d-none d-lg-block">
          <div class="logo">
              <a href="#">
                  <img src="/images/logo.png" alt="AmoAmo" />
              </a>
          </div>
          <div class="menu-sidebar__content js-scrollbar1">
              <nav class="navbar-sidebar">
                  <ul class="list-unstyled navbar__list">
                      <li>
                         <a href ="/admin/index">
                             <i class="fas fa-desktop"></i>관리자 메인 화면</a>
                      </li>
                      <li>
                          <a href="/admin/shop">
                              <i class="fas fa-chart-bar"></i>상품 관리</a>
                      </li>
                      <li class="active">
                          <a href="/admin/table">
                              <i class="fas fa-table"></i>공지 이벤트</a>
                      </li>
                      <li class="has-sub">
                        <a class="js-arrow" href="#">
                          <i class="fas fa-tachometer-alt"></i>상품 판매 정보 관리
                        </a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                          <li>
                            <a href="/admin/order_list">
                              <i class="fas fa-tachometer-alt"></i>주문 내역 확인</a>
                          </li>
                          <li>
                            <a href="/admin/sales_statistics">
                              <i class="fas fa-tachometer-alt"></i>판매 정보 통계</a>
                          </li>
                        </ul>
                      </li>
                      <li>
                          <a href="/">
                              <i class="zmdi zmdi-power"></i>로그아웃</a>
                      </li>

                          </ul>
                      </li>
                  </ul>
              </nav>
          </div>
      </aside>
      <!-- END MENU SIDEBAR-->

        <!--PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                        </div>
                    </div>
                </div>
            </header>
            <!-- END HEADER DESKTOP

            <!-- MAIN CONTENT-->
             <div class="main-content">
                             <div class="col-lg-6">
                                 <div class="card">
                                     <div class="card-header">
                                         <strong>공지/이벤트</strong> 수정
                                     </div>
                                     <div class="card-body card-block">
                                         <form action="/posts" method="post" class="form-horizontal">
                                             <div class="row form-group">
                                                 <div class="col col-md-3">
                                                     <label for="title" class=" form-control-label">제목</label>
                                                 </div>
                                                 <div class="col-12 col-md-9">
                                                     <input type="text" id="title" name="title" placeholder="title" class="form-control">
                                                     <small class="form-text text-muted">공지/이벤트 제목</small>
                                                 </div>
                                             </div>
                                             <div class="row form-group">
                                                 <div class="col col-md-3">
                                                     <label for="start" class=" form-control-label">시작 날</label>
                                                 </div>
                                                 <div class="col-12 col-md-9">
                                                     <input type="date" id="start" name="start" class="form-control">
                                                     <small class="form-text text-muted">공지/이벤트 기간</small>
                                                 </div>
                                             </div>
                                             <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="end" class=" form-control-label">끝나는 날</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="date" id="end" name="end" class="form-control">
                                                    <small class="form-text text-muted">공지/이벤트 기간</small>
                                                </div>
                                            </div>
                                             <div class="row form-group">
                                                 <div class="col col-md-3">
                                                     <label for="body" class=" form-control-label">내용</label>
                                                 </div>
                                                 <div class="col-12 col-md-9">
                                                     <textarea name="body" id="body" rows="9" placeholder="Content..." class="form-control"></textarea>
                                                 </div>
                                             </div>
                                             <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="file" class=" form-control-label">공지 이미지 등록</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="file" id="file" name="attachment" class="form-control-file">
                                                </div>
                                            </div>
                                             <div class="card-footer">
                                                <button type="submit" class="btn btn-primary btn-sm">
                                                    <i class="fa fa-dot-circle-o"></i> Submit
                                                </button>
                                                <button type="reset" class="btn btn-danger btn-sm" onclick="location.href='/admin/table'">
                                                    <i class="fa fa-ban"></i> Reset
                                                </button>
                                            </div>
                                         </form>
                                     </div>
                                 </div>
                     </div>
                 </div>

                 <!--start footer-->
                   <div class="footer-main">
                       <div class="container">
                           <div class="row">
                               <div class="col-lg-4 col-md-12 col-sm-12">
                                   <div class="footer-top-box">
                                       <h3>사업자 정보</h3>
                                       <ul class="list-time">
                                           <li>주소지: 노원구 공릉로 232 서울과학기술대학교</li> <li>대표자:이현주,배진환,권찬미,홍성웅</li>
                                           <li>고객 센터:010-5239-7894</li>
                                       </ul>
                                   </div>
                               </div>
                               <div class="col-lg-4 col-md-12 col-sm-12">
                                   <div class="footer-top-box">
                                       <h3>이용약관</h3>
                                       <ul class="list-time">
                                       <li><a href="/policy">More</a></li>
                                       <li>
                                   </ul>
                                   </div>
                               </div>
                               <div class="col-lg-4 col-md-12 col-sm-12">
                                   <div class="footer-top-box">
                                       <h3>개인정보 처리 방침</h3>
                                       <ul class="list-time">
                                           <li><a href="/privacy">More</a></li>
                                   </div>
                               </div>
                           </div>
                           <hr>
                       </div>
                   </div>
               <!--end footer-->
             </div>
         </div>
     </div>




     <!-- Jquery JS-->
     <script src="/vendor/jquery-3.2.1.min.js"></script>
     <!-- Bootstrap JS-->
     <script src="/vendor/bootstrap-4.1/popper.min.js"></script>
     <script src="/vendor/bootstrap-4.1/bootstrap.min.js"></script>
     <!-- Vendor JS       -->
     <script src="/vendor/slick/slick.min.js">
     </script>
     <script src="/vendor/wow/wow.min.js"></script>
     <script src="/vendor/animsition/animsition.min.js"></script>
     <script src="/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
     </script>
     <script src="/vendor/counter-up/jquery.waypoints.min.js"></script>
     <script src="/vendor/counter-up/jquery.counterup.min.js">
     </script>
     <script src="/vendor/circle-progress/circle-progress.min.js"></script>
     <script src="/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
     <script src="/vendor/chartjs/Chart.bundle.min.js"></script>
     <script src="/vendor/select2/select2.min.js">
     </script>

     <!-- Main JS-->
     <script src="/js/admin_main.js"></script>

 </body>

 </html>
 <!-- end document-->
