<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="/admin/index">
                            
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li>
                            <a href="/admin/">

                              <i class="fas fa-desktop"></i>관리자 메인 화면</a>
                        </li>
                        <li>
                            <a href="/admin/shop">
                                <i class="fas fa-chart-bar"></i>상품 관리</a>
                        </li>
                        <li>
                            <a href="/admin/table">
                                <i class="fas fa-table"></i>공지 이벤트</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>상품 판매 정보 관리</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="/admin/order_list">주문 내역 확인</a>
                                </li>
                                <li>
                                    <a href="/admin/sales_statistics">판매 정보 통계</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/">
                                <i class="zmdi zmdi-power"></i>로그아웃</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="/admin/index">
                    <img src="/images/logo.png" alt="AmoAmo" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active">
                           <a href ="/admin/index">
                               <i class="fas fa-desktop"></i>관리자 메인 화면</a>
                        </li>
                        <li>
                            <a href="/admin/shop">
                                <i class="fas fa-chart-bar"></i>상품 관리</a>
                        </li>
                        <li>
                            <a href="/admin/table">
                                <i class="fas fa-table"></i>공지 이벤트</a>
                        </li>
                        <li class="has-sub">
                          <a class="js-arrow" href="#">
                            <i class="fas fa-tachometer-alt"></i>상품 판매 정보 관리
                          </a>
                          <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li>
                              <a href="/admin/order_list">
                                <i class="fas fa-tachometer-alt"></i>주문 내역 확인</a>
                            </li>
                            <li>
                              <a href="/admin/sales_statistics">
                                <i class="fas fa-tachometer-alt"></i>판매 정보 통계</a>
                            </li>
                          </ul>
                        </li>
                        <li>
                            <a href="/">
                                <i class="zmdi zmdi-power"></i>로그아웃</a>
                        </li>

                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!--PAGE CONTAINER-->
        <div class="page-container">
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">

                            <div class="row">
                                <div class="col-lg-6">

                                    <!-- END USER DATA-->
                                </div>
                                <div class="col-lg-6">

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-xl-auto">
                                    <!-- DATA TABLE -->
                                    <h3 class="title-5 m-b-35">관리자 메인 화면 요구사항 생기면 구현하면 됨.</h3>
                                    <div class="table-data__tool">
                                    </div>
                                    <div class="table-responsive table-responsive-data2">
                                    </div>
                                    <!-- END DATA TABLE -->
                                </div>
                            </div>
                            <div class="row m-t-30">
                                <div class="col-md-12">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

