<!-- Start Main Top -->
<div class="main-top">
    <div class="container-fluid">
        <div class="row" float="right">
          <a class="navbar-brand" href="/"><img src="/images/logo.png" class="logo" alt="" height="30px"></a>
        </div>
    </div>
</div>
<!-- End Main Top -->
