<!--views index.ejs-->
<!DOCTYPE html>
<html>
<title>Softwear Engineering 10th</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="/css/master.css">
<body>

<div class="bgimg">
  <div>
    Software Engineering, 10th
  </div>
  <div>
    <h1>COMING SOON</h1>
    <hr style="margin:auto;width:100%">
    <p>
        Jinwhan Bae -> chief of team<br>
        Haeseong Cha<br>
        Hyunju Lee<br>
        Seongung Hong<br>
        Chanmi Kwon</p>
  </div>
</div>
<img src="/images/about-img.jpg" alt="">
</body>
</html>

