<head>
  <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
    <!-- wrapper -->
        <div id="wrapper" style="padding : 50px 100px 500px 100px; margin : 100px;">
            <!-- content-->
            <div id="content">
                <!-- ID -->
            <form action="" method="post">
                <div>
                  <label for="title">제목 </label>
                  <br>
                  <input type="text" name="title" id="title" style="width:500px ; height:50px;border:2px">
                </div>
                <div>
                  <label for="inquire_contents">내용 </label>
                  <br>
                  <textarea name="inquire_contents" id="inquire_contents" style="width:500px ; height:300px;border:2px"></textarea>
                </div>
                <button type="submit" class="btn btn-primary" style="margin : 20px">등록</button>
                <button type="button" class="btn btn-primary" onclick="window.dpen('','_self','');window.close();">취소</button></a>
            </form>
            </div>
            <!-- content-->
        </div>
        <!-- wrapper -->
    <script src="/js/main.js"></script>
</body>
