<head>
  <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
    <!-- wrapper -->
        <div id="wrapper" style="padding : 50px 100px 500px 100px; margin : 100px;">
            <!-- content-->
            <div id="content">
                <!-- ID -->
                <div>
                  <label for="title">제목 </label>
                  <br>
                  <input type="text" name="title" id="title" style="width:500px ; height:50px;" value="제품에 손상이 있어요" readonly="">
                </div>
                <div>
                  <label for="inquire_contents">내용 </label>
                  <br>
                  <textarea name="inquire_contents" id="inquire_contents" style="width:500px ; height:300px;" readonly>
                    주문번호 02104 상품명 루왁
                Q: 제품에 손상이 있어요
                루왁이 냄새가 안좋습니다
                A: 문제없습니다. 루왁은 원래 향이 좋지 않습니다.
                  </textarea>
                </div>
            </div>
            <!-- content-->
        </div>
        <!-- wrapper -->
    <script src="/js/main.js"></script>
</body>
